{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.json", "*.jsonc", "*.md", "*.yml", "*.yaml"],
            "options": { "tabWidth": 2 }
        }
    ]
}
